# ================================================================================
#
# HTML TEMPLATE FOR OVERVIEW PAGE
#
# >>> datatable
#
# --------------------------------------------------------------------------------
# 2022-01-12  v0.1  ahahn  init
# 2022-01-21  v0.2  ahahn  added footer
# 2022-04-03  v0.3  ahahn  use page_title; add group and unicode icon for app.
# ================================================================================


# --------------------------------------------------------------------------------
# html page
# --------------------------------------------------------------------------------
html_page="<!doctype html>
<html>
    <head>
        <title>${__page_title__}</title>
        <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"/>
        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js\" integrity=\"sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>
        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css\">
        <script type=\"text/javascript\" charset=\"utf8\" src=\"https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js\"></script>
        <style>
            body{background:#f8f8f8; color: #345; margin: 1% 3%;}
            a{color: #23c; }
            footer{position: fixed; bottom: 1em; right: 1em; background: rgba(0,0,0,0.05); padding: 0.5em;}
            h1{margin: 0 0 0.3em;}
            div.dataTables_wrapper{border: 3px solid #fff; box-shadow: 0 0 2em #ddd; padding: 1.5em;}
        </style>
    </head>
    <body>
        <h1>${__page_title__}</h1>
        <p>${__page_descr__}</p>

        <table id=\"table_id\" class=\"display\">
            <thead>
                <tr>
                    <th>App</th>
                    <th>Group</th>
                    <th>Repository</th>
                    <th>Last commit</th>
                </tr>
            </thead>
            <tbody>

                ${__CONTENT__}

            </tbody>
        </table>

        <div style=\"clear: both; margin-bottom: 6em;\"></div>
        <footer>${__ABOUT__}</footer>

        <script>
            \$(document).ready( function () {
                \$('#table_id').DataTable();
            } );
        </script>
        
    </body>
</html>
"

# --------------------------------------------------------------------------------
# The replacement for ${__CONTENT__} is multiple concatination of a
# group ...
# --------------------------------------------------------------------------------
html_group=""

# --------------------------------------------------------------------------------
# and html snippets per project
# --------------------------------------------------------------------------------
html_element="
    <tr>
        <td>
            📙 <a href=\"${__url_doc__}/\"><strong>${__label__}</strong></a><br>
            ${__descr__}
            ${__author__}
        </td>
        <td>${__group__}</td>
        <td><a href=\"${__url_repo__}\" target=\"_blank\">${__url_repo__}</a></td>
        <td><pre>${__commit__}</pre></td>
    </tr>
"

# --------------------------------------------------------------------------------
