# ----------------------------------------------------------------------
# CONFIG
#
# Syntax:
# [Repo url] | [Label]
#
# Example:
# https://github.com/iml-it/appmonitor.git|IML Appmonitor
#
# ----------------------------------------------------------------------
