[
    {
        "group": "PHP",
        "items":
            [
                {
                    "repo": "https://github.com/iml-it/appmonitor.git",
                    "title": "IML Appmonitor",
                    "descr": "Axels Multidoc generator",
                    "author": "Axels Hahn"
                    }
            ]
    },
    {
        "group": "Bash",
        "items":
            [
                {
                    "repo": "https://github.com/axelhahn/multidoc-generator.git"
                },
                {
                    "repo": "https://git-repo.iml.unibe.ch/iml-open-source/iml-backup.git"
                }
                
            ]
    }   

]