# ----------------------------------------------------------------------
# CONFIG
#
# --- SYNTAX:
# group|[Label]
# [Repo url]|[Label]
#
# --- EXAMPLE:
# group|PHP projects
# https://github.com/iml-it/appmonitor.git|IML Appmonitor
#
# ----------------------------------------------------------------------
